@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

html {
    font-family: "Rubik", sans-serif;
}

#root {
    height: 100vh;
    width: 100vw;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}